@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #ebebeb #f9f9f9;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus-visible {
  -moz-appearance: textfield;
  appearance: textfield;
  /* outline-color: #e2e8f0; */
  outline: none;
}

input[type="search"]:hover {
  background-color: white !important;
}

.after-line {
  content: "";
  display: block;
  height: 1px;
  background-color: #e2e8f0;
  width: 25%;
  margin: 5px;
}

.before-line {
  content: "";
  display: block;
  height: 1px;
  background-color: #e2e8f0;
  width: 25%;
  margin: 5px;
}

.info:hover .hide {
  display: block;
}

.hide {
  display: none;
  position: absolute;
}
